<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rsrr_urdf">

  <mujoco>
    <compiler meshdir="meshes" discardvisual="false" />
  </mujoco>
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.7244E-18 0.012441 -0.0095278"
        rpy="0 0 0" />
      <mass
        value="0.0201" />
      <inertia
        ixx="5.8551E-06"
        ixy="-9.9883E-22"
        ixz="6.3916E-22"
        iyy="4.8647E-06"
        iyz="5.7523E-08"
        izz="9.5358E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_mid">
    <inertial>
      <origin
        xyz="-9.7611E-08 6.9389E-18 0.0016437"
        rpy="0 0 0" />
      <mass
        value="0.0077202" />
      <inertia
        ixx="1.3182E-07"
        ixy="3.15E-12"
        ixz="-4.3148E-14"
        iyy="1.1908E-07"
        iyz="-4.4504E-12"
        izz="9.0186E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/left_mid.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/left_mid.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="phi1"
    type="revolute">
    <origin
      xyz="-0.02 0.03 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_mid" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5707"
      upper="1.5707" />
  </joint>
  <link
    name="left_rod">
    <inertial>
      <origin
        xyz="-9.6288E-10 -3.389E-08 0.078858"
        rpy="0 0 0" />
      <mass
        value="0.015417" />
      <inertia
        ixx="4.2245E-05"
        ixy="-3.1274E-12"
        ixz="-4.5973E-12"
        iyy="4.2268E-05"
        iyz="5.7994E-13"
        izz="1.474E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/left_rod.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/left_rod.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="phi2"
    type="revolute">
    <origin
      xyz="0 0 0.014"
      rpy="0 0 0" />
    <parent
      link="left_mid" />
    <child
      link="left_rod" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5707"
      upper="1.5707" />
  </joint>
  <link
    name="right_mid">
    <inertial>
      <origin
        xyz="-1.036E-07 -3.4694E-18 0.0016437"
        rpy="0 0 0" />
      <mass
        value="0.0077202" />
      <inertia
        ixx="1.3182E-07"
        ixy="2.8687E-12"
        ixz="-5.2381E-14"
        iyy="1.1908E-07"
        iyz="-4.3909E-12"
        izz="9.0186E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/right_mid.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/right_mid.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="psi1"
    type="revolute">
    <origin
      xyz="0.02 0.03 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_mid" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5707"
      upper="1.5707" />
  </joint>
  <link
    name="right_rod">
    <inertial>
      <origin
        xyz="-8.9707E-10 -5.8694E-08 0.094845"
        rpy="0 0 0" />
      <mass
        value="0.016548" />
      <inertia
        ixx="6.467E-05"
        ixy="-2.7532E-13"
        ixz="-4.0711E-12"
        iyy="6.4693E-05"
        iyz="6.5693E-13"
        izz="1.5249E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/right_rod.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/right_rod.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="psi2"
    type="revolute">
    <origin
      xyz="0 0 0.014"
      rpy="0 0 0" />
    <parent
      link="right_mid" />
    <child
      link="right_rod" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5707"
      upper="1.5707" />
  </joint>
  <link
    name="main_mid">
    <inertial>
      <origin
        xyz="1.7091E-07 3.9909E-18 0.0014798"
        rpy="0 0 0" />
      <mass
        value="0.016979" />
      <inertia
        ixx="5.3266E-07"
        ixy="-1.028E-11"
        ixz="4.7909E-13"
        iyy="3.4438E-07"
        iyz="-1.0987E-11"
        izz="4.0061E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/main_mid.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/main_mid.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="alpha1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="main_mid" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5707"
      upper="1.5707" />
  </joint>
  <link
    name="main_rod">
    <inertial>
      <origin
        xyz="2.6619E-10 -0.017234 0.27696"
        rpy="0 0 0" />
      <mass
        value="0.25186" />
      <inertia
        ixx="0.00077903"
        ixy="5.4212E-08"
        ixz="-2.0592E-06"
        iyy="0.00065745"
        iyz="1.3697E-05"
        izz="0.00013752" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/main_rod.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/main_rod.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="alpha2"
    type="revolute">
    <origin
      xyz="0 0 0.015"
      rpy="0 0 0" />
    <parent
      link="main_mid" />
    <child
      link="main_rod" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5707"
      upper="1.5707" />
  </joint>
  <link
    name="motor_left">
    <inertial>
      <origin
        xyz="-0.018088 0.0089832 4.1527E-09"
        rpy="0 0 0" />
      <mass
        value="0.004295" />
      <inertia
        ixx="8.5676E-07"
        ixy="-3.3508E-09"
        ixz="-1.494E-14"
        iyy="1.5268E-07"
        iyz="7.8929E-14"
        izz="7.1495E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/motor_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/motor_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="theta1"
    type="revolute">
    <origin
      xyz="0 0 0.285"
      rpy="0 0 0" />
    <parent
      link="main_rod" />
    <child
      link="motor_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5707"
      upper="1.5707" />
  </joint>
  <link
    name="motor_right">
    <inertial>
      <origin
        xyz="0.018088 0.0089832 -3.9744E-09"
        rpy="0 0 0" />
      <mass
        value="0.004295" />
      <inertia
        ixx="8.5676E-07"
        ixy="3.3508E-09"
        ixz="-1.3604E-14"
        iyy="1.5268E-07"
        iyz="-6.5216E-14"
        izz="7.1495E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/motor_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/meshes/motor_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="theta2"
    type="revolute">
    <origin
      xyz="0 -0.0010529 0.325"
      rpy="0 0 0" />
    <parent
      link="main_rod" />
    <child
      link="motor_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5707"
      upper="1.5707" />
  </joint>
</robot>